.mainpage-body {
  flex-direction: row;
  flex: 1;
}

.mainpage-content {
  flex: 1;
}

.mainpage-nav,
.mainpage-aside {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.nav-ul {
  flex-flow: column nowrap;
}

.nav-a {
  display: block;
  width: 100%;
  padding: 1em;
  /*flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;*/
}

.nav-li {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  /*Check use of min content*/
  flex-basis: min-content;
  /*padding: 1em;*/
}
