.mainpage-body {
  flex-direction: row;
  flex: 1;
}

.mainpage-content {
  flex: 1;
}

.mainpage-nav,
.mainpage-aside {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.nav-ul {
  flex-flow: column nowrap;
}

.nav-a {
  display: block;
  width: 100%;
  padding: 1em;
}

.nav-li {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  /*Sets the size of the item to be at it minimium contents
  before any manipulation is performed*/
  flex-basis: min-content;
}
