.nav-ul {
    list-style: none;
    background:#56727C; /*deepskyblue;*/
}

.nav-a {
    text-decoration: none;
    padding: 20px 0;
    /*color: white;*/
    color: #D9E9EF;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.nav-a:hover {
    color: white;
    background: #415F69;/*royalblue;*/
}

/*
NOTE: in the video this was a:last-child
it should be
*/
li:last-child {
    border-bottom: none;
    // background-color: red;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
